In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../data/nepal-earthquake-severity-index-latest.csv")
df.head(10)

,P_CODE,VDC_NAME,DISTRICT,REGION,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
0,C-BAG-27-031,KathmanduN.P.,Kathmandu,Central,2.17,10.00,8.86,1.82,5.34,4.88,10.0000,Highest
1,C-BAG-25-027,LalitpurN.P.,Lalitpur,Central,1.72,2.26,8.40,0.82,4.61,2.62,5.3707,Highest
2,C-NAR-35-005,BharatpurN. P.,Chitawan,Central,2.21,1.47,5.38,2.53,3.96,2.34,4.8083,Highest
3,C-BAG-26-012,MadhyapurThimiN.P.,Bhaktapur,Central,2.45,0.85,8.23,0.89,4.56,2.12,4.3447,Highest
4,C-BAG-27-028,Jorpati,Kathmandu,Central,1.91,0.87,8.86,1.82,5.34,2.07,4.2407,Highest
5,C-BAG-26-003,BhaktapurN.P.,Bhaktapur,Central,1.82,0.84,8.23,0.89,4.56,1.91,3.9135,Highest
6,W-GAN-36-050,PrithbinarayanN.P.,Gorkha,Western,3.48,0.33,6.44,5.21,5.83,1.89,3.8764,Highest
7,C-JAN-20-025,KamalamiN.P.,Sindhuli,Central,2.54,0.40,5.19,6.55,5.87,1.82,3.7307,Highest
8,C-JAN-20-026,Kapilakot,Sindhuli,Central,8.02,0.12,5.19,6.55,5.87,1.77,3.6294,Highest
9,C-BAG-27-033,KirtipurN.P.,Kathmandu,Central,1.35,0.67,8.86,1.82,5.34,1.69,3.4689,Highest

### DataFrame methods

In [3]:
df.shape

(3986, 12)

In [4]:
df.size

47832

In [5]:
df.get(['DISTRICT']).head(7)

    DISTRICT
0  Kathmandu
1   Lalitpur
2   Chitawan
3  Bhaktapur
4  Kathmandu
5  Bhaktapur
6     Gorkha

### Indexing

In [6]:
rows=df.head(4)
rows

,P_CODE,VDC_NAME,DISTRICT,REGION,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
0,C-BAG-27-031,KathmanduN.P.,Kathmandu,Central,2.17,10.00,8.86,1.82,5.34,4.88,10.0000,Highest
1,C-BAG-25-027,LalitpurN.P.,Lalitpur,Central,1.72,2.26,8.40,0.82,4.61,2.62,5.3707,Highest
2,C-NAR-35-005,BharatpurN. P.,Chitawan,Central,2.21,1.47,5.38,2.53,3.96,2.34,4.8083,Highest
3,C-BAG-26-012,MadhyapurThimiN.P.,Bhaktapur,Central,2.45,0.85,8.23,0.89,4.56,2.12,4.3447,Highest

In [7]:
rows.index=['A','B','C','D']
rows

,P_CODE,VDC_NAME,DISTRICT,REGION,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
A,C-BAG-27-031,KathmanduN.P.,Kathmandu,Central,2.17,10.00,8.86,1.82,5.34,4.88,10.0000,Highest
B,C-BAG-25-027,LalitpurN.P.,Lalitpur,Central,1.72,2.26,8.40,0.82,4.61,2.62,5.3707,Highest
C,C-NAR-35-005,BharatpurN. P.,Chitawan,Central,2.21,1.47,5.38,2.53,3.96,2.34,4.8083,Highest
D,C-BAG-26-012,MadhyapurThimiN.P.,Bhaktapur,Central,2.45,0.85,8.23,0.89,4.56,2.12,4.3447,Highest

In [8]:
rows.loc['A'] #Selects rows by index name

P_CODE                  C-BAG-27-031
VDC_NAME               KathmanduN.P.
DISTRICT                   Kathmandu
REGION                       Central
Hazard (Intensity)              2.17
Exposure                        10.0
Housing                         8.86
Poverty                         1.82
Vulnerability                   5.34
Severity                        4.88
Severity Normalized             10.0
Severity category            Highest
Name: A, dtype: object

In [9]:
rows.iloc[0]  ##Selects rows by index count

P_CODE                  C-BAG-27-031
VDC_NAME               KathmanduN.P.
DISTRICT                   Kathmandu
REGION                       Central
Hazard (Intensity)              2.17
Exposure                        10.0
Housing                         8.86
Poverty                         1.82
Vulnerability                   5.34
Severity                        4.88
Severity Normalized             10.0
Severity category            Highest
Name: A, dtype: object

#### Boolean Indexing

In [10]:
df

,P_CODE,VDC_NAME,DISTRICT,REGION,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
0,C-BAG-27-031,KathmanduN.P.,Kathmandu,Central,2.17,10.00,8.86,1.82,5.34,4.88,10.0000,Highest
1,C-BAG-25-027,LalitpurN.P.,Lalitpur,Central,1.72,2.26,8.40,0.82,4.61,2.62,5.3707,Highest
2,C-NAR-35-005,BharatpurN. P.,Chitawan,Central,2.21,1.47,5.38,2.53,3.96,2.34,4.8083,Highest
3,C-BAG-26-012,MadhyapurThimiN.P.,Bhaktapur,Central,2.45,0.85,8.23,0.89,4.56,2.12,4.3447,Highest
4,C-BAG-27-028,Jorpati,Kathmandu,Central,1.91,0.87,8.86,1.82,5.34,2.07,4.2407,Highest
...,...,...,...,...,...,...,...,...,...,...,...,...
3981,F-SET-70-052,Khaptad National Park,Doti,Far-Western,0.00,0.00,8.77,8.26,8.52,0.00,0.0000,Lowest
3982,M-BHE-58-033,Royal Bardiya Nation,Bardiya,Mid-Western,0.00,0.00,4.64,4.82,4.73,0.00,0.0000,Lowest
3983,W-LUM-48-075,Royal Chitawan Natio,Nawalparasi,Western,0.84,0.00,5.61,3.51,4.56,0.00,0.0000,Lowest
3984,W-LUM-49-072,Lumbini Development,Rupandehi,Western,0.02,0.00,7.81,2.95,5.38,0.00,0.0000,Lowest
3985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df[df['REGION']=='Far-Western'].head(4)

,P_CODE,VDC_NAME,DISTRICT,REGION,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
3067,F-SET-67-026,Sapata,Bajura,Far-Western,0.0,0.06,8.08,8.8,8.44,0.04,0.0849,Lowest
3137,F-SET-67-011,Gotree,Bajura,Far-Western,0.0,0.06,8.08,8.8,8.44,0.04,0.0736,Lowest
3167,F-SET-67-002,Baddhu,Bajura,Far-Western,0.0,0.05,8.08,8.8,8.44,0.03,0.0696,Lowest
3198,F-SET-67-003,Bai,Bajura,Far-Western,0.0,0.03,8.08,8.8,8.44,0.03,0.0661,Lowest

In [12]:
df[(df['REGION']=='Far-Western') & (df['DISTRICT']=='Dadeldhura')].tail(4)

,P_CODE,VDC_NAME,DISTRICT,REGION,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
3626,F-MAH-73-018,Nawadurga,Dadeldhura,Far-Western,0.0,0.03,8.09,5.89,6.99,0.0,0.0,Lowest
3642,F-MAH-73-009,Chipur,Dadeldhura,Far-Western,0.0,0.03,8.09,5.89,6.99,0.0,0.0,Lowest
3657,F-MAH-73-020,Samejee,Dadeldhura,Far-Western,0.0,0.03,8.09,5.89,6.99,0.0,0.0,Lowest
3669,F-MAH-73-007,Bhadrapur,Dadeldhura,Far-Western,0.0,0.02,8.09,5.89,6.99,0.0,0.0,Lowest

### Setting and Resetting Index

In [13]:
df.set_index('REGION',inplace=True)
df

,P_CODE,VDC_NAME,DISTRICT,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
REGION,,,,,,,,,,,
Central,C-BAG-27-031,KathmanduN.P.,Kathmandu,2.17,10.00,8.86,1.82,5.34,4.88,10.0000,Highest
Central,C-BAG-25-027,LalitpurN.P.,Lalitpur,1.72,2.26,8.40,0.82,4.61,2.62,5.3707,Highest
Central,C-NAR-35-005,BharatpurN. P.,Chitawan,2.21,1.47,5.38,2.53,3.96,2.34,4.8083,Highest
Central,C-BAG-26-012,MadhyapurThimiN.P.,Bhaktapur,2.45,0.85,8.23,0.89,4.56,2.12,4.3447,Highest
Central,C-BAG-27-028,Jorpati,Kathmandu,1.91,0.87,8.86,1.82,5.34,2.07,4.2407,Highest
...,...,...,...,...,...,...,...,...,...,...,...
Far-Western,F-SET-70-052,Khaptad National Park,Doti,0.00,0.00,8.77,8.26,8.52,0.00,0.0000,Lowest
Mid-Western,M-BHE-58-033,Royal Bardiya Nation,Bardiya,0.00,0.00,4.64,4.82,4.73,0.00,0.0000,Lowest
Western,W-LUM-48-075,Royal Chitawan Natio,Nawalparasi,0.84,0.00,5.61,3.51,4.56,0.00,0.0000,Lowest
Western,W-LUM-49-072,Lumbini Development,Rupandehi,0.02,0.00,7.81,2.95,5.38,0.00,0.0000,Lowest
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.reset_index(inplace=True,drop=True)
df

,P_CODE,VDC_NAME,DISTRICT,Hazard (Intensity),Exposure,Housing,Poverty,Vulnerability,Severity,Severity Normalized,Severity category
0,C-BAG-27-031,KathmanduN.P.,Kathmandu,2.17,10.00,8.86,1.82,5.34,4.88,10.0000,Highest
1,C-BAG-25-027,LalitpurN.P.,Lalitpur,1.72,2.26,8.40,0.82,4.61,2.62,5.3707,Highest
2,C-NAR-35-005,BharatpurN. P.,Chitawan,2.21,1.47,5.38,2.53,3.96,2.34,4.8083,Highest
3,C-BAG-26-012,MadhyapurThimiN.P.,Bhaktapur,2.45,0.85,8.23,0.89,4.56,2.12,4.3447,Highest
4,C-BAG-27-028,Jorpati,Kathmandu,1.91,0.87,8.86,1.82,5.34,2.07,4.2407,Highest
...,...,...,...,...,...,...,...,...,...,...,...
3981,F-SET-70-052,Khaptad National Park,Doti,0.00,0.00,8.77,8.26,8.52,0.00,0.0000,Lowest
3982,M-BHE-58-033,Royal Bardiya Nation,Bardiya,0.00,0.00,4.64,4.82,4.73,0.00,0.0000,Lowest
3983,W-LUM-48-075,Royal Chitawan Natio,Nawalparasi,0.84,0.00,5.61,3.51,4.56,0.00,0.0000,Lowest
3984,W-LUM-49-072,Lumbini Development,Rupandehi,0.02,0.00,7.81,2.95,5.38,0.00,0.0000,Lowest
3985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN